* {
    box-sizing: border-box;
}
body {
    background-image: url(imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: black;
    font-size: 15px;
    text-align: center;  
    font-family: cursive;
}
#textoDeBienvenida{
    display: flex;
    justify-content: center;  
}
.container{
    background-color: rgba(101, 75, 119, 50%);
    border: 2px solid black;
    padding-bottom: 22%; 
    box-sizing: border-box;
}
.subcontainer1{
    color: ivory;
}
.subcontainer2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;}
    
#desplazamiento{
    width: 50px;
}
.bloque1{
    display: flex;
    margin: 3px;
    width: 600px;
    height: 600px;
    flex-direction: column;
    align-items: center;
}
.bloque2{
    display: flex;
    flex-direction: unset;
    align-items: center;
}
.bloque3{
    display: flex;
    margin: 3px;
    width: 600px;
    height: 600px;
    flex-direction: column;
    align-items: center;
}
h3{
    margin: 2px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    color: ivory;
}
#mensaje,#mensaje2{
    width: 500px;
    height: 300px;
}
h1{
    color:ivory;
    font-size: 60px;
}
h2{
    color:ivory;
    width: 70%;
}
footer{
    background-color: darkgray;
    padding: 1%;
    margin-bottom: 1px;
}